<div id="xo-banner" class="<{$xoops_dirname}>">
	<a id="xo-main-logo" href="<{xoAppUrl /}>"><img src="<{xoImgUrl img/header-logo.png}>" alt="<{$xoops_sitename}>" /></a>
	<!-- include userbar -->
	<{includeq file="$theme_name/userbar.html"}>
</div>